.flamenco-light {
  font-family: 'Flamenco', system-ui;
  font-weight: 300;
  font-style: normal;
}

.flamenco-regular {
  font-family: 'Flamenco', system-ui;
  font-weight: 400;
  font-style: normal;
}

:root {
  /*
  font-family: "Flamenco", Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;


 color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;*/

  /*Paleta corporativa*/
  --apricot: #ffcdb2ff;
  --melon: #ffb4a2ff;
  --salmon-pink: rgb(234, 133, 107);
  --old-rose: #b5838dff;
  --dim-gray: #6d6875ff;

  --main--font: 'Flamenco', system-ui, Avenir, Helvetica, Arial, sans-serif;
  --line-height: 1.5;
  --font-weight: 400;
}
a {
  font-weight: 500;
  color:var(--dim-gray);
  text-decoration: inherit;
}
a:hover {
  color:var(--dim-gray);
}

body {
  
  margin: 0;
  display: flex;
  flex-direction: column;
  place-items: center;
  min-width: 100px;
  min-height: 100vh;

  font-variation-settings: 'wdth' 100px, 'wgth' 400, 'opsz' 300;
  background-color: var(--dim-gray);
}

#video video{
  width: 100%;
  height: 100vh;
  object-fit: cover;
}

.container {
  width: 100%;
  height: 100vh;
  max-height: 100vh;
  overflow: hidden;
}

ul.slider {
  width: 100%;
  height: 100vh;
}

ul.slider li {
  position: absolute;
  left: 0;
  top: 0px;
  opacity: 0;
  width: inherit;
  height: inherit;
  background-color: var(--salmon-pink);
  transition: opacity 1.8s;
  transition:linear ;
}

/*ajustar imagenes al tamaño*/
ul.slider li img,
ul.slider li video 
{
  width: 100%;
  height: 100vh;
  object-fit: cover;
}
/* para dirigirse a un svg dentro de una imagen. Tamnbien permite escoger a hijos
img[src$=".svg"] {
background-color: red;
}

*/

/*centrar el contenido de texto al centro de la diapositiva*/
ul.slider li:first-child {
  
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  font-size: 3em;
}

ul.slider li:first-child {
  opacity: 1;
}

ul.slider li:target {
  opacity: 1;
}

/*Texto sobre la imagen*/
.over {
  position: fixed;
  z-index: 300;
  text-align: center;
  color: white;
}

/*estilos del menu*/
.menu {
  position: relative;
  text-align: center;
  margin: 1em;
  bottom: 5em;

}

.menu li {
  display: inline-block;
  text-align: inherit;
}

.menu li a {
  background-color:var(--melon);
  padding: 0.6em 1em;
  border-radius: 50%;
  font-weight: 600;
}

.menu li a:hover {
  background-color: var(--melon);
  color: var(--apricot);
}

header {
  width: 100%;
}
nav {
  
  width: 100%;
  height: 50px;
   background-color:var(--apricot);

}

nav > ul {
  
  display: flex;
  justify-content: center;
  font-size: 19px;
  
}

li {
  margin:  .75rem;
}

/*css para columnas responsivas*/


.col-main {
  flex: 1;  
}  

.col-complementary {
  flex: 1;  
}

/* Responsive: */

@media only screen and (min-width: 640px) {
  .layout {
    display: flex;
  }
}

/* etc */

.container {
  max-width: 60em;
  margin-right: auto;
  margin-left: auto;
  
}

.col {
  padding: 3em;
  margin: 100px 20px 2px 0px;
  background-image: url("public/img/fondo.jpg");
  line-height: 30px;
 color:var(--old-rose);
 font-size: 19px;
}
